/basic-info/*
!/basic-info/placeholder.png

/admin/*
!/admin/placeholder.png

/bike-purchases/*
!/bike-purchases/placeholder.png

/bike-sales/*
!/bike-sales/placeholder.png

/category/*
!/category/placeholder.png

/items/*
!/items/placeholder.png
